.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.head_advert img{
	width: 100%;
}

.goods_show #caidai{
	z-index:auto;
	width: 100%;
	position:absolute;
}

.jumbotron{
	background-color:#F9F27E;
	margin-left: 32px;
	margin-right: 32px;
	padding-top: 160px;
}

.jumbotron #goods_text1{
	font-size: 20px;
	text-align:center;
}

.jumbotron #goods_text2{
	font-size: 30px;
	text-align:center;
	color:#75C4C5;
}

.jumbotron #goods_text2 #goodsCount{
	font-size: 30px;
	color:#FF5A4D;
	display: inline;
}


.claim_but{
	margin-left: 32px;
	margin-right: 32px;
}

.claim_but #claimBut{
	background-image:url("../../imgs/promoteActivity/btu_lingqu.png");
	background-repeat: no-repeat;
	border-color: #FD594E;
	background-color:#FD594E;
	height: 50px;
	font-size: 26px;
}


.down_but{
	margin-left: 32px;
	margin-right: 32px;
}

.down_but #downApp_But{
	background-image:url("../../imgs/promoteActivity/btu_check.png");
	background-repeat: no-repeat;
	border-color: #20AFDE;
	background-color:#20AFDE;
	height: 50px;
	font-size: 26px;
}

.member_list{
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
}

.buttom_rule{
	margin-top:10px;
	margin-left: 40px;
	margin-right: 40px;
}

.claim_info{
	margin-left: 30px;
	margin-right: 30px;
}

.claim_info #claim_info_msg1{
	font-size: 20px;
	color: #676750;
	text-align: center;
}

.member_account{
	font-size: 20px;
	color: #2EB1DC;
}

.claim_info #claim_info_msg2{
	font-size: 20px;
	color: #030100;
	text-align: center;
}

#claim_pagination {
	text-align: center;
}

.member_li{
	height: 100px;
}

.member_li .member_logo{
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 0px;
}

.member_li .member_info{
	margin-top: 0px;
	margin-left: 10px;
	height: 100px;
	display: inline-block;
}

.member_li .member_info .member_account{
	margin-top: 0px;
	display: block;
	font-size: 20px;
	color: #0F0F0C;
}

.member_li .member_info .claim_date{
	margin-bottom: 0px;
	margin-top:20px;
	display:block;
	font-size: 20px;
	color: #A8A986;
}

.info_title{
	margin-top:80px;
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
}


.info_title .left_line{
	background-color:#77765A;
	height: 2px;
	width: 15%;
	display: inline-block;
	margin-bottom: 5px;
}


.info_title .right_line{
	background-color:#77765A;
	height: 2px;
	width: 15%;
	display: inline-block;
	margin-bottom: 5px;
}

.info_title .title_text{
	display: inline-block;
	font-size:20px;
	color:#77765A;
}

